/* fonts */
$font-size: 62.5%;
$line-height: 1.4;
$font-family: 'Open Sans',sans-serif;

/* paragraphs */

$fs-p: 1rem;

/* headers */

$fs-h1: 1rem;
$fs-h2: 1rem;
$fs-h3: 1rem;
$fs-h4: 1rem;
$fs-h5: 1rem;

/* colors */
$mainColor: #59595c;
$secondColor: #03d8c3;
$bgColor: #EFF7F9;
