.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 3s;
}

.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

.animated.flipOutX,
.animated.flipOutY {
  animation-duration: .75s;
}

@keyframes pulse {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10%{
    transform: translate3d(0, 50px, 0);
  }
  20%{
    transform: translate3d(0, 30px, 0);
  }
  30%{
    transform: translate3d(0, 50px, 0);
  }
  40% {
    transform: translate3d(0, 0, 0);
  }
}

.pulse {
  animation-name: pulse;
  animation-delay: 1s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}